<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/b3bfe1b001.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="bootstrap-social/bootstrap-social.css">
    <link rel="stylesheet" href="style.css">
    <title>Our Customers</title>
</head>
<body>
    <nav class="navbar navbar-dark navbar-expand-sm fixed-top">
        <div class="container">
            <a href="/index" class="navbar-brand mr-auto logo"><img src="./images/logo.jpg" class="img-fluid rounded-circle" height="30" width="41">
            <em class="logotext">Initiate Transactions</em></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Navbar">
                <ul class="navbar-nav mr-auto links">
                    <li class="nav-item"><a href="/index" class="nav-link"> Home</span></a></li>
                    
                    <li class="nav-item active"><a href="#" class="nav-link"> Customers</span></a></li>
                    <li class="nav-item"><a href="#contact" class="nav-link"> Contact</span></a></li>
                </ul>
                <span class="navbar-text">
                    <!-- <a id="loginBtn" data-toggle="modal" data-target="#loginModal">
                        <span class="fa fa-sign-in"> Login</span>
                    </a> -->
                    <a role="button" id="loginBtn" data-target="#registrationModal" data-toggle="modal">
                        <span class="fa fa-sign-in d-sm-none d-md-inline"></span> Register
                    </a>
                </span>
                <span class="navbar-text ml-2">
                    
                    <a role="button" data-target="#transferModal" data-toggle="modal" class="btn btn-outline-light">
                        <i class="fas fa-exchange-alt"> Transfer</i>
                    </a>
                </span>
                </div>
        </div>
        
    </nav>

    <!-- registration modal -->
    <div class="modal fade" id="registrationModal" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Register Yourself</h4>
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                </div>
                <div class="modal-body container row">
                    <form method="POST" class="col-12 col-sm-7 border-right">
                        <div class="form-group row">
                            <span class="fa fa-user"></span><input type="text" id="name" name="name" class="col-11 border-bottom" required autocomplete="off">
                            <label for="name" class="col-12 offset-1">Name</label>
                            
                        </div>
                        <div class="form-group row">
                            <span class="fa fa-envelope-o"></span><input type="email" name="email" id="email"  class="col-11  border-bottom mx-3" required autocomplete="off" style="margin-top: -10px;">
                            <label for="email" class="col-12 offset-1">Email</label>
                        </div>
                        <div class="form-group row">
                            <span class="fa fa-lock"></span><input type="password" name="pass" id="password"  class="col-11  border-bottom" required autocomplete="off">
                            <label for="password" class="col-12 offset-1">Password</label>
                        </div>
                        <div class="form-group row">
                            <span class="fa fa-envelope"></span><input type="number" id="balance" name="balance" class="col-11  border-bottom mx-3" required autocomplete="off" style="margin-top: -10px;">
                            <label for="balance" class="col-12 offset-1">Initial Balance</label>
                        </div>
                        <div class="col-12 offset-1">
                            <button type="submit" class="btn btn-outline-light">
                                Register
                            </button>
                            <button type="submit" class="btn btn-outline-light" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </form>
                    <div class="d-none d-sm-block col-sm-5 formimg">
                        <!-- <img src="./images/pexels-karolina-grabowska-4968391.jpg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Transfer modal -->
    <div class="modal fade" id="transferModal" role="dialog">
        <div class="modal-dialog modal-lg" role="content">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Transfer Money</h4>
                    <button type="button" data-dismiss="modal" class="close">&times;</button>
                </div>
                <div class="modal-body container row">
                    <form method="POST" action="/transfer" class="col-12 col-sm-7 border-right">
                        <div class="form-group row">
                            <span class="fa fa-user"></span><input type="text" id="sendername" name="sendername" class="col-11 border-bottom" required autocomplete="off">
                            <label for="sendername" class="col-12 offset-1">Sender's Name</label>
                            
                        </div>
                        <div class="form-group row">
                            <span class="fa fa-lock"></span><input type="password" id="senderpass" name="senderpass" class="col-11 border-bottom" required autocomplete="off">
                            <label for="senderpass" class="col-12 offset-1">Sender's Password</label>
                            
                        </div>
                        <div class="form-group row">
                            <span class="fa fa-user"></span><input type="text" id="recievername" name="recievername" class="col-11 border-bottom" required autocomplete="off">
                            <label for="sendername" class="col-12 offset-1">Reciever's Name</label>
                            
                        </div>
                        <div class="form-group row">
                            <i class="fas fa-rupee-sign"></i><input type="number" id="transferamt" name="transferamt" class="col-11 border-bottom" required autocomplete="off">
                            <label for="transferamt" class="col-12 offset-1">Amount</label>
                        </div>
                        <div class="col-12 offset-1">
                            <button type="submit" class="btn btn-outline-light" id="transferBtn">
                                Transfer
                            </button>
                            <button type="submit" class="btn btn-outline-light" data-dismiss="modal">
                                Cancel
                            </button>
                        </div>
                    </form>
                    <div class="d-none d-sm-block col-sm-5 formimg">
                        <!-- <img src="./images/pexels-karolina-grabowska-4968391.jpg" alt=""> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- customers table -->
    
    <div class="container" style="margin-top: 90px;">
        <h1 class="row heading mx-auto">Our Customers 123</h1>
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th class="border-right">Name</th>
                                <th class="border-right">Email</th>
                                <th class="border-right">Current Balance</th>
                                
                            </tr>
                        </thead>
                        <tbody id="customers">
                            <!-- <tr>
                                <td class="border-right">Amruta Talreja</td>
                                <td class="border-right">ammutalreja14@gmail.com</td>
                                <td class="border-right">45000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Uttam Talreja</td>
                                <td class="border-right">uttam123@gmail.com</td>
                                <td class="border-right">23000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Praver Sharma</td>
                                <td class="border-right">praver31@gmail.com</td>
                                <td class="border-right">150000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Anant Singhal</td>
                                <td class="border-right">anantsinghal12@gmail.com</td>
                                <td class="border-right">200000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Jayesh Marmat</td>
                                <td class="border-right">jayeshm@gmail.com</td>
                                <td class="border-right">92000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Srajan Tayal</td>
                                <td class="border-right">srajantayal@gmail.com</td>
                                <td class="border-right">50000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Raina Jain</td>
                                <td class="border-right">raina22jain@gmail.com</td>
                                <td class="border-right">100000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Anshul Mishra</td>
                                <td class="border-right">anshul18@gmail.com</td>
                                <td class="border-right">50000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Pranjal Sahu</td>
                                <td class="border-right">sahupranjal@gmail.com</td>
                                <td class="border-right">100000</td>
                                
                            </tr>
                            <tr>
                                <td class="border-right">Isha Das</td>
                                <td class="border-right">dasisha@gmail.com</td>
                                <td class="border-right">70000</td>
                                
                            </tr> -->
                            <%customers.forEach(customer=>{%>
                                    <tr>
                                         <td class="border-right"><%=customer.name%></td>
                                         <td class="border-right"><%=customer.email%></td>
                                         <td class="border-right"><%=customer.balance%></td>
                                        
                                    </tr>
                            <%})%>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="4" class="text-center border-bottom">
                                    <button class="btn btn-outline-success" id="add" data-target="#addModal" data-toggle="modal">Add Amount</button>
                                    <button class="btn btn-outline-danger" id="retrieve" data-target="#subModal" data-toggle="modal">Retrieve Amount</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- Add amount Modal -->


    <div id="addModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="heading modal-title" style="text-decoration: underline;">Add Amount</h2>
                    <button class="close" role="button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/add" class="container">
                        
                            <div class="form-group row">
                                <span class="fa fa-user"></span><input type="text" id="addername" name="name" class="col-11 border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="addername" class="col-12 offset-1">User Name</label>
                                
                            </div>
                            <div class="form-group row">
                                <span class="fa fa-lock"></span><input type="password" id="password" name="pass" class="col-11  border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="password" class="col-12 offset-1">Password</label>
                            </div>
                            <div class="form-group row">
                                <span class="fa fa-user"></span><input type="number" id="addamt" name="addamt" class="col-11 border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="addamt" class="col-12 offset-1">Enter Amount</label>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-light" id="addBtn" role="button">
                                    Add Amount
                                </button>
                                <button type="submit" class="btn btn-outline-light" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Retrieve amount Modal -->
    

    <div id="subModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="heading modal-title" style="text-decoration: underline;">Retrieve Amount</h2>
                    <button class="close" role="button" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/retrieve" class="container">
                        
                            <div class="form-group row">
                                <span class="fa fa-user"></span><input type="text" id="retrievername" name="name" class="col-11 border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="retrievername" class="col-12 offset-1">User Name</label>
                                
                            </div>
                            <div class="form-group row">
                                <span class="fa fa-lock"></span><input type="password" id="password" name="pass" class="col-11  border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="password" class="col-12 offset-1">Password</label>
                            </div>
                            <div class="form-group row">
                                <span class="fa fa-user"></span><input type="number" id="retrieveamt" name="retrieveamt" class="col-11 border-bottom" required autocomplete="off" style="padding: 7px 29px;">
                                <label for="retrieveamt" class="col-12 offset-1">Enter Amount</label>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-outline-light" id="retrieveBtn" role="button">
                                    Retreive Amount
                                </button>
                                <button type="submit" class="btn btn-outline-light" data-dismiss="modal">
                                    Cancel
                                </button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->


    <footer class="footer" id="contact">
        <div class="container">
            <div class="row align-items-center">             
                <div class="col-4 offset-1 col-sm-2 border-right">
                    <h4>Links</h4>
                    <ul class="list-unstyled conlinks">
                        <li><a href="#">Home</a></li>
                        <li><a href="./aboutus.html">About</a></li>
                        <li><a href="#">Menu</a></li>
                        <li><a href="./contactus.html">Contact</a></li>
                    </ul>
                </div>
                <div class="col-7 col-sm-5 border-right text-center">
                    <h4>Our Address</h4>
                    <address>
		              121, Clear Water Bay Road<br>
		              Clear Water Bay, Kowloon<br>
		              HONG KONG<br>
		              <i class="fa fa-phone fa-lg"></i>: +852 1234 5678<br>
		              <i class="fa fa-fax fa-lg"></i>: +852 8765 4321<br>
		              <i class="fa fa-envelope fa-lg"></i>: <a href="mailto:confusion@food.net">confusion@food.net</a>
		           </address>
                </div>
                <div class="col-12 col-sm-4 align-self-center">
                    <div class="text-center">
                        <h4>Social Links</h4>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="http://www.facebook.com/profile.php?id="><i class="fa fa-facebook fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="http://www.linkedin.com/in/"><i class="fa fa-linkedin fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="http://twitter.com/"><i class="fa fa-twitter fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="http://youtube.com/"><i class="fa fa-youtube fa-lg"></i></a>
                        <a class="btn btn-social-icon btn-outline-dark rounded-circle" href="mailto:"><i class="fa fa-envelope-o fa-lg"></i></a>
                    </div>
                </div>
           </div>
           
        </div>
    </footer>
    <div class="row justify-content-center footend">             
        <div class="col-auto">
            <p>© Copyright 2018 Ristorante Con Fusion</p>
        </div>
   </div>
<!-- jQuery first, then Popper.js, then Bootstrap JS. -->
<script src="jq/jquery.slim.min.js"></script>
<script src="popper/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    document.getElementById('transferBtn').addEventListener('click',function(){
    alert('TRANSACTION SUCCESSFULL!!');
    });
</script>
<script src="index.js"></script>

</body>
</html>